@charset "utf-8";

//검색영역
.search-box {
  align-items: center;
  > * {
    vertical-align: middle;
  }
  select {
    flex-grow: 0.2;
  }
  &.input-group-sm {
    select {
      flex-grow: 0.15;
    }
  }
  &.input-group-lg {
    select {
      flex-grow: 0.25;
    }
  }
  input {
    color: var(--bs-body-color);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-right-width: 0;
  }
  button {
    &.btn-sm {
      &.right-radius {
        border-top-right-radius: var(--bs-border-radius-sm);
        border-bottom-right-radius: var(--bs-border-radius-sm);
      }
    }
    &.right-radius {
      border-top-right-radius: var(--bs-btn-border-radius);
      border-bottom-right-radius: var(--bs-btn-border-radius);
    }
    &.btn-lg {
      &.right-radius {
        border-top-right-radius: var(--bs-border-radius-lg);
        border-bottom-right-radius: var(--bs-border-radius-lg);
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    + button {
      border-left: 1px solid rgba(255,255,255, .4)
    }
    &.btn-primary {
      + .btn-secondary {
        border-left: 0 none;
      }
    }

  }
  &.date {
    input {
      width: 110px;
      text-align: center;
      border-right-width: 1px;
    }
    .tilde {
      display: inline-block;
      width: 20px;
      color: var(--bs-body-color);
      text-align: center;
    }
    button {
      width: 31px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 5px;
    }
  } //.date
  &.duration-search {
    .btn-group {
      width: 260px;
      margin-right: 0.5rem;
      button {
        padding: 0.375rem 0;
        margin-left: 0;
        border-color: var(--bs-border-color);
        + button {
          border-left: 0 none;
        }
      }
    }
    .form-control {
      width: 110px;
      padding: 0.375rem 0;
      flex: none;
      border-radius: var(--bs-border-radius);
      &.form-control-sm {
        border-radius: var(--bs-border-radius-sm);
      }
    }
    .btn-secondary {
      position: relative;
      width: 38px;
      line-height: 36px;
      padding: 0;
      border-top-left-radius: var(--bs-btn-border-radius);
      border-bottom-left-radius: var(--bs-btn-border-radius);
      svg {
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
      }
    }
    &.sm {
      .btn-group {
        button {
          padding: 0.25rem 0;
        }
      }
      .form-control {
        width: 100px;
        padding: 0.25rem 0;
      }
      .btn-secondary {
        width: 31px;
        line-height: 29px;
        padding: 0;
        border-top-left-radius: var(--bs-border-radius-sm);
        border-bottom-left-radius: var(--bs-border-radius-sm);
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  } //duration-search
} //.search-box

.board-search-box {
  .form-select {
    flex: none;
    width: 100px;
    margin-right: 5px;
  }
} //.board-search-box

.searchFilter {
  header {
    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1.4rem;
    }
  } // header
  form {
    select {
      width: 100%;
    }
    label {
      width: 33.3%;
      margin: 10px 0;
      input {
        margin-right: 4px;
      }

    }
    fieldset {
      $w: 56px;
      + div {
        > * {
          vertical-align: middle;
        }
        input {
          height: 35px;
          width: calc(100% - #{$w});
          border: 1px solid $mainColorA;
        }
        button {
          @include border-radius(0)
        }
      }
    }
  } //form
  main {
    padding: 1rem 0;
    .row {
      gap: 20px;
      padding: 16px;
      .col {
        width: calc((100% / 3) - ((20px * 2) / 3));
        padding: 16px;
        background-color: $whiteSmoke;
        header {
          .img {
            text-align: center;
            background-color: $white;
            img {
              width: 100%;
            }
          }
          .subject {
            font-size: 1.6rem;
          }
        }
      }
    }
  } //main
  .keywords {
    a {
      display: inline-block;
      padding: 3px 12px;
      margin-right: 4px;
      margin-bottom: 4px;
      font-size: 14px;
      color: $font-base-color;
      text-decoration: none;
      border: 1px solid $silver;
      @include border-radius(30px);
      background-color: $white;
      &:hover {
        color: $white;
        background-color: $bokDarkBlue;
      }
    }
  }
} //.searchFilter

.mustGoPlace {
  .searchbox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    width: 100%;
    .grp {
      flex: 1 0;
    }
    
  }
  .tit {
    margin: 16px 0 8px;
    font-size: 12px;
    color: $silver;
  }
  .textSearch {
    input {
      width: calc(100% - 54px);
      vertical-align: middle;
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
      + button {
        @include border-top-left-radius(0);
        @include border-bottom-left-radius(0);
      }
    }
  }
  main {
    padding: 1rem;
  }
} //.mustGoPlace
