@charset "utf-8";
@import "./../hlepers/colorDefine"; // 색상 정의


html,
body {
  height: 100%;
  overflow: hidden;
}
body, input, textarea, select, button, table, code {
  //font: font-style font-weight font-size/line-height font-family
  font: 400 .785rem/1.5 'Noto Sans KR', "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  color: $font-base-color;
}
ol, ul {
  list-style: none;
}
